<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/fonts/opensans/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Overview</title>
    </head>
    <body>
        <header>
            <h1><%= @site_name %></h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Overview</a>
                    </li>
                    <li>
                        <a href="/systems">Systems</a>
                        <ul>
                            <% @groups.each do |group| %>
                                <li><a href="/groups/<%= group.id %>/systems"><%= group.name %></a></li>
                            <% end %>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin">Admin</a>
                        <% if request.path.start_with?('/admin') %>
                            <ul>
                                <li><a href="/admin/systems">Systems</a></li>
                                <li><a href="/admin/groups">Groups</a></li>
                                <li><a href="/admin/configs">Configs</a></li>
                            </ul>
                        <% end %>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <%= yield %>
        </main>
    </body>
</html>
