<h2 class="edit">Commands</h2>

<% @record.script_commands.each do |script_command| %>
    <%= erb :command_config, locals: {command: script_command.command_config.command_class, action: "/admin/scripts/#{@record.id}/commands/#{script_command.id}", command_options: script_command.command_config.options} %>
<% end %>

<p id="add-command">
    Add command:
    <select id="command-select">
        <option></option>
        <% command_actions.each do |command| %>
            <option value="<%= command.name %>"><%= command.human_name %></option>
        <% end %>
    </select>
</p>

<% command_actions.each do |command| %>
    <%= erb :command_config, locals: {command: command, action: "/admin/scripts/#{@record.id}/commands"} %>
<% end %>

<script>
    $('#command-select').change(function() {
        $('form.command.new').hide();
        $('form.command.new[data-command="' + $(this).val() + '"]').show();
    });
</script>
